.custom-spacing-product-name{
    line-height: 80px;
    font-size: 25px;
    color: #333333;
    margin-left: 20px;
    font-weight: bold;
}

.custom-spacing-price{
    margin-left: 20px;
    font-size: 25px;
    color:#990000;
    margin-bottom: 3px;
    font-weight: bold;
}

img{
    height : 200px;
    width :  300px;
    border-radius : 5px;
}